html {
  font-family: 'Raleway';
}

.bannerimage {
  width: 100%;
}
.top {
  position: absolute;
  width: 100%;
}

.prefooter {
  background-color: lightgrey;
  margin: 0;
}

.footer {
  background-color: silver;
}

.center {
  text-align: center;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

@media only screen and (min-width: 25em) {

   nav ul {
     text-align: center;
   }

  nav li {
    display: inline-block;
  }

   h1 {
     text-align: center;
   }
}
